
<section class="movie-list ideal">
    
    <div class="ui-status empty">
        No hay ninguna película
    </div>
    
    <div class="ui-status error">
        Se ha producido un error al cargar la película
    </div>
    
    <div class="ui-status loading">
        Cargando...
    </div>
  
    <div class="ui-status ideal">
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk1.png" alt="">
            </a>
            <div class="title">Mary Poppins</div>
            <div class="director">Director: Robert Stevenson</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk2.png" alt="">
            </a>
            <div class="title">Matar a un ruiseñor</div>
            <div class="director">Director: Robert Mulligan</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk3.png" alt="">
            </a>
            <div class="title">Malditos Bastardos</div>
            <div class="director">Director: Quentin Tarantino</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk4.png" alt="">
            </a>
            <div class="title">Fantasía 2000</div>
            <div class="director">Director: Roy E.Disney</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk5.png" alt="">
            </a>
            <div class="title">Días de Vinilo</div>
            <div class="director">Director: Gabriel Nesci</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk6.png" alt="">
            </a>
            <div class="title">Los Caballeros de la Mesa Cuadrada</div>
            <div class="director">Director: Terry Gilliam</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk7.png" alt="">
            </a>
            <div class="title">Trumbo</div>
            <div class="director">Director: Jay Roach</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk8.png" alt="">
            </a>
            <div class="title">Psicosis</div>
            <div class="director">Director: Alfred Hitchcock</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk9.png" alt="">
            </a>
            <div class="title">Los Miserables</div>
            <div class="director">Director: Tom Hooper</div>
        </article>
        
        <article class="movie">
            <a href="detail.html">
            <img class="cover" src="img/disk10.png" alt="">
            </a>
            <div class="title">The Full Monty</div>
            <div class="director">Director: Peter Cattaneo</div>
        </article>
        
    </div>
    
</section>