<br><br><br><br><br><br><br><br><br><br><br>
<form novalidate  class="movie-form ">
    <div class="ui-status error">
        Se ha producido un error
    </div>

    <div class="ui-status loading">
        Guardando película...
    </div>

    <div class="ui-status ideal">
        
       <div class="form-control-group">
           <label for="title"></label>
           <input type="text" id="artist" name="artist" placeholder="Film" required>
       </div>



        
        <div class="form-control-group">
            <button>Descargar Film</button>
        </div>
    </div>

</form>